<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>Travel Dashboard</title>
        <!-- linking a css style sheet -->
        <link rel="stylesheet" href="{% static 'python_belt_exam_app/css/styles.css' %}">
        <!-- Linking Bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="containment">
            <div class="headerino">
                    <h3>Welcome {{ request.session.welcomename }}!</h3>
                    <a href="/logout"><h3>Logout</h3></a>
            </div>
            <div id="placeholder">
                <div class="trip_table"> 
                    <h3>Your Trip Schedules</h3>
                    <div id="my_trips">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Destination</th>
                                <th scope="col">Travel Start Date</th>
                                <th scope="col">Travel End Date</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trip in mytrips %}
                                <tr>
                                    <td><a class="view" href=/view/{{trip.id}}>{{trip.destination}}</a></td>
                                    <td>{{trip.datefrom}}</td>
                                    <td>{{trip.dateto}}</td>
                                    <td>{{trip.description}}</td>
                                    <td>
                                        {% if trip.trip_users.id == request.session.id %}
                                            <a class="delete" href=/delete/{{trip.id}}>Delete</a> <b>|</b>
                                        {% endif %}
                                        <a  class="cancel" href=/cancel/{{trip.id}}>Cancel</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="other_trip_table">
                    <h3>Other User's Travel Plans</h3>
                    <div id="all_trips">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th scope="col">Destination</th>
                                <th scope="col">Travel Start Date</th>
                                <th scope="col">Travel End Date</th>
                                <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trip in alltrips %}
                                <tr>
                                    <td><a class="view" href=/view/{{trip.id}}>{{trip.destination}}</a></td>
                                    <td>{{trip.datefrom}}</td>
                                    <input type="hidden" name="trip_id" value={{ trip.id }}>
                                    <td>{{trip.dateto}} </td>
                                    <td><a class="join" href=/join/{{trip.id}}>Join</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a href=# id="new_trip" class="btn btn-primary" role="button">Add a Trip</a>
            <div class="add_trip_form" style="display: none;">
                <form action="/process_trip", method='post' id="add_new_trip">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="destination" class="col-sm-2 col-form-label"><b>Destination:</b></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="destination" name="destination" placeholder="Orlando, Florida">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label"><b>Description:</b></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Go to the beach">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="datefrom" class="col-sm-2 col-form-label"><b>Travel Date From:</b></label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="datefrom" name="datefrom" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dateto" class="col-sm-2 col-form-label"><b>Travel Date To:</b></label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="dateto" name="dateto" placeholder="YYYY-MM-DD">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <button type="submit" id="add_trip_submit_btn" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <p>&nbsp;</p>
        </div>
        <script>
            $(document).ready(function() {
                $('#new_trip').click(function() {
                    $('.add_trip_form').slideToggle("slow");
                });
                return false;
            });

            $('#add_new_trip').submit(function(e){
                e.preventDefault()
                console.log('Sending Ajax request to', $(this).attr('action'))
                console.log('Submitting the following data', $(this).serialize())
                $.ajax({
                  url: $(this).attr('action'), /* Where should this go? */
                  method: 'post', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#placeholder').html(serverResponse)
                    }
                })
            });

            // $('.join').click(function(e){
            $(document).on('click', '.join', function(e){
                e.preventDefault()
                console.log('Sending Ajax request to', $(this).attr('href'))
                console.log('Submitting the following data', $(this).serialize())
                $.ajax({
                  url: $(this).attr('href'), /* Where should this go? */
                  method: 'get', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#placeholder').html(serverResponse)
                    }
                })
                console.log('ALL DONE')
                return false;
            });

            // $('.view').click(function(e){
            $(document).on('click', '.view', function(e){
                e.preventDefault()
                console.log('Sending Ajax request to', $(this).attr('href'))
                console.log('Submitting the following data', $(this).serialize())
                $.ajax({
                  url: $(this).attr('href'), /* Where should this go? */
                  method: 'get', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#placeholder').html(serverResponse)
                    }
                })
                return false;
            });

            // $('.cancel').click(function(e){
            $(document).on('click', '.cancel', function(e){
                e.preventDefault()
                console.log('Sending Ajax request to', $(this).attr('href'))
                console.log('Submitting the following data', $(this).serialize())
                $.ajax({
                  url: $(this).attr('href'), /* Where should this go? */
                  method: 'get', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#placeholder').html(serverResponse)
                    }
                })
                return false;
            });

            // $('.delete').click(function(e){
            $(document).on('click', '.delete', function(e){
                e.preventDefault()
                console.log('Sending Ajax request to', $(this).attr('href'))
                console.log('Submitting the following data', $(this).serialize())
                $.ajax({
                  url: $(this).attr('href'), /* Where should this go? */
                  method: 'get', /* Which HTTP verb? */
                  data: $(this).serialize(), /* Any data to send along? */
                  success: function(serverResponse) { /* What code should we run when the server responds? */
                    $('#placeholder').html(serverResponse)
                    }
                })
                return false;
            });
        </script>
    </body>
</html>