*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

.containment{
    height: auto !important;
    background: linear-gradient(-90deg, #57BC90, #77C9D4);
}

.registration{
    width: 45%;
    display: inline-block;
    margin: 0% 4% 0% 4%;
    margin-left: 30%;
}

.login{
    width: 45%;
    display:inline-block;
    vertical-align: top;
    margin-left: 30%;
}

.login p{
    color: red;
    font-size: 14pt;
}

button{
    float: right;
    box-shadow: 3px 3px #015249 !important;
    margin-bottom: 5% !important;
    background-color: #77C9D4 !important;
    border: 1px solid #A5A5AF !important;
    width: 30%;
    height: 60px;
}
/* EVERYTHING ABOVE HERE NEEDS TO STAY THE SAME */

.headerino{
    background: linear-gradient(-90deg, rgb(225, 225, 225), #A5A5AF);
    margin-left: -1.4%;
    margin-right: -1.4%;
    margin-bottom: 3% !important;
    border-bottom: 4px solid #015249;
    height: 66px;
}

.headerino h3{
    display: inline-block;
    margin-right: 60%;
    margin-top: 1%;
    margin-left: 2%;
}

.headerino a{
    display: inline-block;
    margin-right: 3%;
    padding-left: 2% !important;  
    padding: .5% 0%;
    float: right;
}

.thetrip{
    margin-bottom: 5%;
    padding-top: 5% !important;
}

/* BELOW HERE ARE ALL OUR NEW VISUAL TWEAKS */

.login-header{
    background: linear-gradient(-90deg, rgb(225, 225, 225), #A5A5AF);
    margin-left: -1.4%;
    border-bottom: 4px solid #015249;
    height: 78px;
    width: 102.8%;
}

.login-header h1{
    display: inline-block;
    margin-right: 23%;
    margin-top: 1%;
    margin-left: 2%;
}

.login-header h4{
    display: inline-block;
    margin-right: 3%;
    /* border-left: 4px solid #015249; */
    padding: 1% 0%;
    padding-left: 3%;
    float: right;
    text-decoration: underline !important;
    font-weight: bold;
}

a{
    color: rgb(32, 144, 163) !important;
    font-weight: bold;
}

#my_trips, #all_trips{
    background-color: #A5A5AF;
    box-shadow: 6px 6px black !important;
}

thead, td, th{
    outline: 2px solid #015249;
}

table{
    outline: 4px solid #015249;
    font-size: 14pt !important;
}

.trip_table h3, td, th{
    color: white;
}

.other_trip_table h3, td, th{
    color: white;
}

.other_trip_table{
    margin-bottom: 3%;
}

#new_trip{
    margin-bottom: 3%;
    margin-left: 36%;
    color: white !important;
    box-shadow: 2px 2px #015249;
    background-color: #77C9D4;
    border: 1px solid #A5A5AF !important;
    width: 20%;
    height: 50px;
    font-size: 16pt;
}

.add_trip_form{
    margin-left: 30%;
}

.view_header{
    background: linear-gradient(-90deg, rgb(225, 225, 225), #A5A5AF);
    margin-left: -1.4%;
    border-bottom: 4px solid #015249;
    height: 57px;
    width: 102.8%;
}

.view_header h3{
    display: inline-block;
    margin-right: 3%;
    padding-left: 3% !important;
    padding: 1% 0%;
    border-left: 4px solid #015249;
    float: right;
}

.user_info{
    margin-left: 25%;
    margin-top: 5%;
    padding: 3%;
    padding-bottom: 5% !important; 
    background-color: #A5A5AF;
    width: 50%;
    outline: 4px solid #015249;
    box-shadow: 8px 8px #015249 !important;
    background: linear-gradient(#A5A5AF, rgb(225, 225, 225));
}

.values{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 4.5%;
}

.categories{
    display: inline-block;
    width: 25%;
}

a{
    text-decoration: underline !important;
}

a:hover{
    color: #77C9D4 !important;
}

.jumbotron{
    background-image: url(https://static.pexels.com/photos/457882/pexels-photo-457882.jpeg);
    background-position: 0% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: #015249 0.3em 0.3em 0.3em;
    margin-top: 3%;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.container2 h1{
    margin-top: -2% !important;
}

#back_btn{
    margin-top: 15% !important;
    margin-left: 30%;
    width: 30%;
    height: 50px;
    color: white !important;
    box-shadow: 2px 2px #015249;
    background-color: #77C9D4;
    border: 1px solid #A5A5AF !important;
    font-size: 18pt;
}

th{
    font-size: 14pt !important;
}

#add_trip_submit_btn{
    width: 60% !important;
    height: 60px;
    font-size: 16pt;
    text-decoration: underline !important;
}

#video-background{ 
    position: absolute;
    bottom: 30%; 
    right: -10%;
    min-width: 120%; 
    min-height: 120%; 
    width: 120%; 
    height: 120%;
    overflow: hidden;
    z-index: -1;
}

.login_bg{
    background: linear-gradient(-90deg, #57BC90, #77C9D4);
    width: 100%;
    height: 800px;
    z-index: 10 !important;
}

.welcome_text{
    margin-left: 30%;
    margin-top: 1%;
    display: inline-block;
    padding: 5%;
    background: linear-gradient(#A5A5AF, rgb(225, 225, 225));
    outline: 4px solid #015249;
    box-shadow: 6px 6px #015249 !important;
}